<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ThongShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              src="https://scontent-xsp1-3.xx.fbcdn.net/v/t1.0-9/141518954_1594580574063276_191574071670958160_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=KysDKHOhejoAX-NdIBE&_nc_ht=scontent-xsp1-3.xx&oh=3272dd7a12df6d144e76bdfc0639c89f&oe=6077AC9C"
              alt="Thong" class="user-avatar"/>
            Thong
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/products/create">Create New Product</a></li>
            <li><a class="dropdown-item" href="/me/stored/products">Manage Products</a></li>
            <li><a class="dropdown-item" href="/me/stored/products">Test</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>